.container-exam{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    padding: 10px;
}
.add-btn{
    padding: 8px;
    border-radius: 8px;
    background-color: darkcyan;
    color: white;
    border: none;
}
.delete-btn{
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(211, 0, 0);
    color: white;
    border: none;
}
input{
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
   

}

.gap{
    gap: 30px;
}
